/*talent page*/
.talentid .carousel-caption h4{
font-size:65px;
}
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px){
.talentid .carousel-caption h4{
font-size:32px;
}

}
.talentid .breadcrumb{display:none;}
.talentid td {
    vertical-align: top;
}
.talentid td ul li{
  list-style: none;
  font-weight: bold;
}

.talentid .wmf-map-right .wmf-col:nth-child(2){
    background: #f8f8f8;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,.2);
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    margin-top: 25px;
    padding-left: 0;
    padding-right: 0;
}
.talentid .wmf-map-right .facility_postcode h4 {
    color: #ee7925;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    margin: 0;
}
.talentid .facility_postcode .facility_left p {
    font-size: 15px;
    /*font-weight: 400;*/
    line-height: 140%;
    padding-top: 10px;
}
.talentid .wmf-map-right .facility_postcode .facility_left p {
    min-height: 90px;
    white-space: pre-wrap;
}
.talentid .wmf-map-right .facility_postcode .facility_left {
    float: left;
    padding-left: 27px;
    width: 45%;
}
.talentid .wmf-map-right .facility_postcode .facility_right {
    float: left;
    width: 55%;
    padding-bottom: 20px!important;
}
.talentid .wmf-map-right .facility_postcode .facility_right p input {
    border: 1px solid #a14909;
    float: left;
    line-height: 26px;
    text-indent: 10px;
    width: -webkit-calc(100% - 129.5px);
    width: -moz-calc(100% - 129.5px);
    width: calc(100% - 129.5px);
}
.talentid .wmf-map-right .facility_postcode .facility_right p a.btn {
    background: #00acc1;
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    margin: 30px 0 0 10px;
    padding: 0;
    text-transform: uppercase;
    width: 100px;
}
/*end talent page*/


.orangebox-cta-2016 .breadcrumb{display:none!important;}

.orangebox-cta-2016 .carousel-caption{
max-width:1400px!important;
}

.orangebox-cta-2016 .carousel-caption *{
text-transform:none!important;
text-shadow:1px 1px #000;
}
.orangebox-cta-2016 .carousel-caption h2{
margin-top: 0!important;
font-size:3.7em!important;
line-height: 75px;
margin:0;
text-transform: uppercase!important;


}
.orangebox-cta-2016 .carousel-caption h4{
font-size:32px!important;
font-weight:normal!important;
margin:0;

}
.orangebox-cta-2016 .carousel-caption h4:nth-child(3){
  margin: 18px 0;
}
.orangebox-cta-2016 .local-banner-carousel .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .carousel-caption, .orangebox-cta-2016 .local-banner-carousel .owl-theme .owl-stage-outer .owl-stage .owl-item .item .carousel-caption{
bottom:30%;
}
.wpcf7-form .coaching-info .wpcf7-submit {
    height:auto !important;
}
div.wpcf7 .ajax-loader {
    background-repeat: no-repeat;
    background-position: center center;
}
.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	font-weight: normal;
	display: block;
}
#invitef input[type=radio] {
    width: auto;
    margin: 0 10px;
}
.wmf-location-dashboard.orangebox-cta-2016 #entry-content {
    display: none;
}
.wmf-location-dashboard.orangebox-cta-2016 #loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url("loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.Orange_short_banner {
  border-width: 1.87px;
  border-color: rgb( 255, 255, 255 );
  border-style: solid;
  background-color: rgb( 238, 121, 37 );
  position: absolute;
  right: 0px;
  top: 7%;
  bottom:7%;
  width: auto;
  min-height: 400px;
  padding: 3% 0;
  z-index: 29;
  /*display: none;*/
}
.ob_container{
    padding: 16px 40px 0;
    /* overflow: hidden; */
}
.Gift_box_icon{
  display: inline-block;
  width:70px;
  height:70px;
  top: 85px;
  position: absolute;
  background-color: rgba(255,255,255,0);
  margin: 0 30px 0 0;
  background: url(https://www.wemakefootballers.com/wp-content/uploads/2016/12/Gift-box-icon.png);
  background-size: 100%;
}
.GET_YOUR__FREE_TRIAL{
  display: inline-block;
  color:#fff;
  width:290px;
  font-size:49px;
  line-height:45px;
  /* text-align: justify; */
  margin: 0 auto 0 103px;
}
.cta_subTitle{

font-size: 24px;

text-transform:none;

color:#fff;

text-align: left;

margin: -6px auto 0 105px;

width: 266px;

/* text-size-adjust: initial; */
}

.orangebox-cta-2016 .Line{
  background:#fff;
  width: 94%;
  height: 1px;
  margin: 10px 0;
}
.Book_Online__{
  border: 2px solid #fff;
  padding:0 30px;
  border-radius:20px;
  margin: 7px auto 15px 35px;
  width:100%;
  max-width: 367px;
  background:#fff;
  text-align:left;
  overflow: hidden;
}
.Book_Online__ a{
  color: rgb( 238, 121, 37 );
      font-size: 25px;
    line-height: 50px;
    font-weight: bold;
} 
.Book_Online__ img{
width:41px;
height:41px; 
margin-right:10px; 
}
.Book_Online__:hover,.Book_Online__:hover a{
background: #268426;
color:#ffffff!important;
}
.Book_Online__ a i{
  border: 2px solid;
  border-radius: 30px;
  width:41px;
  height:41px;
  font-size:25px;
  margin-right:25px;
  padding:5px 5px 5px 3px;
}
.Book_Online__:nth-child(1) a i{
  padding:6px 9px 5px;
}

/*quote below banner*/

.orangebox-cta-2016 .wmf-pb-cup p{
font-weight:bold;
}

.orangebox-cta-2016 .wmf-pb-cup .q1,.wmf-pb-cup .q2 {
  height:147px;
  width:106px;
  position:absolute;  
  z-index:-1;
}
.orangebox-cta-2016 .wmf-pb-cup .q1{
background:url(https://www.wemakefootballers.com/wp-content/uploads/sites/45/2016/12/Speech-mark-left.png) no-repeat;
  background-size:100%;
left:15%;
}
.orangebox-cta-2016 .wmf-pb-cup .q2{
background:url(https://www.wemakefootballers.com/wp-content/uploads/sites/45/2016/12/Speech-mark-right.png) no-repeat;
  background-size:100%;

right:15%;
top:0px;

}
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px){
.orangebox-cta-2016 .wmf-pb-cup .q2{
  right:10%;
}
.orangebox-cta-2016 .wmf-pb-cup .q1{
  left:10%;
}

}
@media handheld, only screen and (max-width: 568px), only screen and (max-device-width: 568px){
.orangebox-cta-2016 .wmf-pb-cup .q2{
  right:5%;
}
.orangebox-cta-2016 .wmf-pb-cup .q1{
  left:5%;
}

}


/*EOF quote below banner*/

@media handheld, only screen and (max-width: 1290px), only screen and (max-device-width: 1280px){ 

.orangebox-cta-2016 .carousel-caption{
max-width:500px!important;
left:-550px!important;
}

.orangebox-cta-2016 .carousel-caption h2{
font-size: 42px!important;
line-height:42px;
}
.orangebox-cta-2016 .carousel-caption h4:nth-child(3) {
    font-size:19px!important;
}

}
@media handheld, only screen and (max-width: 1000px), only screen and (max-device-width: 768px){
.orangebox-cta-2016 .carousel-caption{
max-width:768px!important;
left:0!important;
}

.orangebox-cta-2016 .local-banner-carousel .owl-theme .owl-stage-outer .owl-stage .owl-item .item .carousel-caption, .orangebox-cta-2016 .local-banner-carousel.owl-carousel .owl-stage-outer .owl-stage .owl-item .item .carousel-caption{
top:130px;
}

.orangebox-cta-2016 .local-banner-carousel .owl-theme .owl-stage-outer .owl-stage .owl-item .item .carousel-caption *{
text-align:center!important;
}

.Orange_short_banner{position:relative;top:0;right:0;left:0;min-width: 350px;width:100%;text-align:center;min-height: 200px;/* padding: 25px 0 25px; */}
.GET_YOUR__FREE_TRIAL{/* margin:40px auto 0 15px; */text-align:left;width: 100%;/*line-height: 36px;*/font-size: 48.01px;}
.cta_subTitle{
  width: 100%;
  font-size: 23px;
  text-align: justify;
  margin: 0 auto 0 110px;
}
.Gift_box_icon{
  position:absolute;
  margin: 0 auto;
  left: 70px;
  right: 560px;
  top: 40px;
  width:45px;
  height:45px;
}


.ob_container {
    padding: 0 10px;
    max-width: 650px;
    margin: 0 auto;
    /* float: left; */
    /* width: 50%; */
    /* height: 265px; */
}
.ob_container:nth-child(1){
  /* border-right:2px solid #fff; */
  text-align: left;
}

.orangebox-cta-2016 .Line{/* display:none; */margin: 20px auto;}

.Book_Online__{margin: 0 20px;padding: 0 20px;/* height: 50px; *;max-width: 38%;;;/* float: left; */display: inline-block;max-width: 290px;}
.Book_Online__ a{
font-size: 19px;
}


.Book_Online__ a i{
margin-right: 5%;

}
.wmf-location-dashboard.orangebox-cta-2016  .wmf-pb-cup{
/*max-width:90%!important;*/
}
.orangebox-cta-2016 .wmf-pb-cup .q1, .wmf-pb-cup .q2 {
    height: 55px;
    width: 40px;
}
.page.wmf-location-dashboard.orangebox-cta-2016 .wmf-pb-cup p,.page.wmf-location-dashboard.orangebox-cta-2016 .wmf-pb-cup p *{
    font-size: 23px;
  }
}
@media handheld, only screen and (max-width: 568px), only screen and (max-device-width: 568px){

.orangebox-cta-2016 .carousel-caption h2{
font-size: 27px!important;
line-height:27px;
}
.orangebox-cta-2016 .carousel-caption h4:nth-child(3) {
    font-size:12px!important;
}
.Orange_short_banner{
  min-height: auto;
}
.ob_container{
  /* height:190px; */
  padding:0 10px;
  max-width: 350px;
  margin: 0 auto;
}
.GET_YOUR__FREE_TRIAL{
  font-size: 27px;
  /* line-height: 20px; */
  margin: 0px auto 0 33px;
  /* width: 179px; */
}

.cta_subTitle{
  font-size: 13px;
  /* width: 150px; */
  margin: -10px 38px 0;
}

.Book_Online__{
    height: 46px;
    margin: 10px auto;
    padding: 0;
    max-width: 150px;
}
.Book_Online__:nth-child(1){
padding:0 10px;}

.Book_Online__ a{
  margin: 0;
  font-size:11px;
  line-height: 48px;
}
.Book_Online__ a i{
font-size:14px;
border-radius:100%;
height:30px;
width:30px;
padding:6px 4px 5px 6px;
margin-right:5px;
}
.Book_Online__:nth-child(1) a i{
  padding:7px 9px 9px 8px;
}
.page.wmf-location-dashboard.orangebox-cta-2016 .wmf-pb-cup p,.page.wmf-location-dashboard.orangebox-cta-2016 .wmf-pb-cup p *{
    font-size: 13px;
  }
  .page.wmf-location-dashboard.orangebox-cta-2016  .wr-element-table{
  padding:0!important;
}

}
@media handheld, only screen and (max-width: 325px), only screen and (max-device-width: 325px){
 .orangebox-cta-2016 .carousel-caption h2 {
    font-size: 22px!important;
    line-height: 20px;
}
 .Orange_short_banner{
        /* height: 100%; */
        /* padding: 25px 0 25px; */
  }
.ob_container{
  float: none;
  width:100%;
  height: auto;
}
.ob_container:nth-child(1){
  /* border:none; */
}
.Gift_box_icon {
    /* position: relative; */
    top: 0px;
    /* left: 36px; */
    /* margin: 0 10px 0 0; */
}
.GET_YOUR__FREE_TRIAL {
    /* font-size: 27px; */
    /* line-height: 23px; */
    /* margin: 9px 0 0 16%; */
    /* max-width: 60%; */
  }
  .cta_subTitle {
    /* width: 255px; */
    /* font-size: 10px; */
    /* margin:0 auto 0 36px; */
  }
.orangebox-cta-2016 .Line {
    display: block;
    width: 73%;
    margin: 10px auto 0 12%;
}
.Book_Online__ {
    /* margin: 10px auto 0 65px; */
    }
}
@media handheld, only screen and (max-width: 568px), only screen and (max-device-width: 568px){
.Gift_box_icon{
left:20px;
right:320px;
top:35px;
width:20px;
height:20px;
}
}
@media handheld, only screen and (max-width: 568px), only screen and (max-device-width: 568px){
.orangebox-cta-2016 .Line{
margin: 16px auto 0;
}
}