.top-success-icon{max-width: 80px;height: 80px;display: block;text-align: center;line-height: 80px;border-radius: 50%;margin:50px auto 0 auto;/*border: 1px solid #bbb;*/}
.thank-you-txt{text-align: center;margin-bottom: 50px;width: 100%;float: left;}
.thank-you-txt p{font-size: 18px;}
.discover-more{text-align: center;clear: both;}
.discover-more p{font-size: 18px;margin: 0;}
.discover-more ul{margin: 0;padding: 0; display:block;list-style: none;text-align: center;margin-top: 25px;width: 100%;}
.discover-more ul li{width: 14.7%;display: inline-block;text-align: center;padding-right: 30px;}
.discover-more-img{width: 110px;height: 110px;display: inline-block;margin: 0 auto;margin-bottom: 0px;border-radius: 50%;/*border: 1px solid #ddd;*/text-align: center; position: relative;}
.discover-more-img img{position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; max-width: 70%;}
.discover-more-inner{border: 1px solid transparent;transition: 0.4s;-webkit-transition: 0.4s; position: relative;}
.discover-more-inner a{color: #333333;transition: 0.4s;-webkit-transition: 0.4s;}
.discover-more-inner a:hover{color: #FA7100;}
.discover-more-inner a:after{ content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 2; }
/*.discover-more ul li:hover .discover-more-inner{border-color: #FA7100; }*/

/*popup css started here*/
.left-local-class{width: 50%;float: left;background: #212121;padding: 25px;}
.inner-left-class{height: 57px;width: 57px;border-radius: 50%;border: 2px solid #FA7100; overflow: hidden;box-shadow: 0 0 10px rgba(0,0,0,0.3)}
.inner-outer-img{width: 14%;float: left;}
.inner-right-txt{width: 85%;float: left;padding-left: 25px;}
.inner-right-txt h4{color: #fff;padding-top: 17px;}
.search-popup .modal-body{padding: 0!important;}
.right-search-postcode{width: 50%;float: left;background: #FA7100;padding: 16px 25px 0;position: relative;}
.right-search-postcode .postcode_here{border: 0;border-radius: 5px 0 0 5px;font-size: 16px;line-height: 1;height: 50px;padding: 0 0 0 10px;width: 80%;float: left;box-shadow: 0 3px 0px rgba(0, 0, 0, 0.2) !important;text-align: left;}
.right-search-postcode .postcode_here::placeholder{text-align: left!important;}
.right-search-postcode .find_postcode{margin-right: 0;box-sizing: border-box;-webkit-box-sizing: border-box;border: 0 !important;background: #ffffff;border-radius: 0 5px 5px 0;height: 50px;padding: 0;width: 20%;float: left;color: #000;font-size: 16px;margin-left: 0;text-align: center;position: relative;box-shadow: 0 3px 0px rgba(0, 0, 0, .2) !important;border-left: solid 1px #ddd !important;cursor: pointer;}
.blank_postcode{clear: both;
text-align: left!important;
margin: 0 0 5px;
padding: 10px 0;
color: #000;
position: absolute;
bottom: 10px; pointer-events: none;color: red;
margin-left: 11px;
background: #fff;}
.right-search-postcode h4{margin: 0;padding: 0;color: #ffffff;}
#suggesstion-box{clear: both;position: absolute;left: 25px;right: 25px;top:100%; margin-top: -9px; background: #ffffff;box-shadow: 0 0 10px rgba(0,0,0,0.3);padding: 0;border-radius: 5px;z-index: 9999;max-height: 150px;overflow: auto; -webkit-overflow-scrolling: touch;}
#suggesstion-box ul{margin: 0;padding: 0;text-align: left;list-style: none;}
#suggesstion-box ul li{ float: left; width: 100%;  border-bottom: solid 1px #ddd; }
#suggesstion-box ul li a{color: #333333; display: block; width: 100%; padding: 11px;}
#suggesstion-box ul li a:hover{ background:#eee; }
ul.mid-linlk-ul{list-style: none;}
ul.mid-linlk-ul li{width: 20%;float: left;margin-bottom: 15px;padding-right: 20px;}
ul.mid-linlk-ul li:nth-child(6){clear: both;}
ul.mid-linlk-ul li:nth-child(11){clear: both;}
ul.mid-linlk-ul li a{font-size: 17px;color: #333333;position: relative;display: block;transition: 0.4s;-webkit-transition: 0.4s;}
ul.mid-linlk-ul li a:after{content: "";left: -16px;top: 6px;background: url(../../img/right-arrows-couple-or.png) no-repeat;height: 16px;width: 16px;background-size: 58%;position: absolute;transition: 0.4s;-webkit-transition: 0.4s;}
ul.mid-linlk-ul li a:hover{color: #FA7100;}
ul.mid-linlk-ul li a:hover:after{left: -12px;}
.london_academy h3,
.north_west h3{color: #FA7100;}
.north_west{clear: both;width: 100%;float: left;}
.academy_data{width: 100%;float: left;clear: both;padding-top: 20px;border-top: 1px solid #ddd;}
.left_sec{width: 50%;float: left;padding-right: 21px;}
.left_sec:nth-child(even){clear: both;}
.right_sec{width: 50%;float: left;margin-bottom: 25px;}
.right_sec:last-child{margin-bottom: 0;}
.academy_outer{width: 100%;float: left;padding: 0 0 0 0;}
.detail-ul{list-style: none;margin: 0 ;padding: 0;}
.detail-ul li{width: 100%; padding: 5px 0 5px 28px;font-size: 17px;margin-top: -5px;margin-bottom: 10px;}
.detail-ul li:nth-child(1){background: url(../../img/detail-icon-1.png) no-repeat left 5px;}
.detail-ul li:nth-child(2){background: url(../../img/detail-icon-2.png) no-repeat left 7px;background-size: 4.5%;}
.detail-ul li:nth-child(3){background: url(../../img/detail-icon-3.png) no-repeat left 6px;background-size: 4.5%;}
.pop-up-mid-sec{width: 100%;float: left;padding: 25px 25px 0 25px;position: relative;}
.search-popup .modal-footer{clear: both;width: 100%;float: left;padding: 0;margin: 0;}
.academy_dis{color: #FA7100;font-size: 18px;}
.weekly-training{margin-bottom: 0;}
.weelly_price{width: 100%;display: block;font-size: 16px;color: #FA7100;}
.traning_time{width: 67%;display: block;line-height: 34px;font-size: 16px;margin: 10px 0;}
.book-session-link{padding: 5px;display: inline-block;}
.right_sec .btn.btn-primary{width: 100%;text-align: center;}
.right_sec .btn.btn-primary a{display: inline-block!important;transition: 0.4s;-webkit-transition: 0.4s;}
.book-freetrial-btn{text-align: center;padding-top: 20px;}
.book-freetrial-btn a{transition: 0.4s;-webkit-transition: 0.4s;}
/*.modal-footer .btn.btn-default{display: block;margin: 0;width: 100%;text-align: center;border-bottom: 0;font-size: 22px;padding: 14px 0;background: #FA7100;color: #fff !important;transition: 0.4s;-webkit-transition: 0.4s;}
.modal-footer .btn.btn-default:hover{background: #de6e1e;}*/
.img-left-sec{margin-bottom: 20px;}
.outer-of-loader{background: rgba(0,0,0,0.5);position: absolute;top: 0;right: 0;left: 0;bottom: 0;width: 100%;height: 100%;}
.inner-of-popup{width: 60px;height: 36px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);text-align: center;}
.inner-of-popup img{width: 60%;}
.cross{height: 34px;width: 10px !important;position: absolute;top: 0;right: 0;background: #fff url(../../img/cross.png) no-repeat center !important;   background-size: auto auto;margin: 0 !important;background-size: 15px !important;padding: 0 16px !important;}
.outer-of-acadmy {width: 100%;display: inline-block;border-bottom: 1px solid #ddd;  margin-bottom: 10px;}
.mid-linlk-ul li.blur a{opacity: 0.5;}
.mid-linlk-ul li.blur.active a{opacity: 1;}


/*our values css*/
.our-values{}
.our-values p,
.join-us p{font-size: 19px;color: #444;}
.apply-coach-sec .col-sm-12{width: 100%;}
.apply-coach-sec{width: 100%;float: left;background: transparent;}
.top-join-sec{/*background: #f5f5f5 url(../../img/football-pattern-heading.png) bottom;*/width: 100%;float: left;/*padding-bottom: 50px;*/}
.vacancies-section{background: #fff;}
.apply-coach-inner .coach-apply{margin-right: 25px;}
.vacancies-section .col-sm-6{width: 50%;padding: 0;}
.apply-inner-section{text-align: center;min-height: 534px;vertical-align: middle; position: relative;background: url(../../img/holiday-camp-header.jpg) no-repeat;background-size: cover;}
.apply-inner-section-2{background: url(../../img/holiday-camp-bg.png) no-repeat;}
.apply-inner-section:after{content: "";top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,0.5);width: 100%;height: 100%;position: absolute;}
.apply-txt-inner{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 50%;z-index: 5;}
.apply-txt-inner h2{color: #fff;}
.fulwraper{width: 100%;float: left;clear: both;}
.coaches-about-slider-section .left-revolver-img-parent{width: 100%;display: block;text-align: center;padding: 10px 0;}
.coaches-about-slider-section .parent-table{display: block;text-align: center;}
.coaches-about-slider-section .left-revolver-img{display: inline-block;}
.franchise-section{position: relative; padding: 100px 0;background: url(../../img/image_wmf_in_school_00.jpg);background-size: cover;}
.franchise-section:after{content: "";left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.8);width: 100%;height:100%;position: absolute;}
.upper-franchise{position: relative;z-index: 5;}
.bfa-logo-join-us{background: #fff;padding: 15px;border-radius: 4px; max-width: 80px; margin: 0 auto; display: block; margin-bottom: 50px;}
.franchise-section h1{margin-bottom: 30px!important;margin: 0;color: #fff;display: block;}
.franchise-section p{margin-bottom: 20px;color: #fff;}

/*about us css*/
.discover-more-section{padding:45px 0 80px; text-align: center;}
.discover-more-inner{margin: 20px 0;}
.discover-more-inner-cross{ display: block; width: 100%; height: 90px; }
.discover-more-section .col-sm-4{width: 33.3333%;}
.custom-bg{background: #f5f5f5 url(../../img/football-pattern-heading.png) bottom;padding-bottom: 80px;}
.our-coaches-section{padding: 45px 0 80px;background: #EEEEEE;}
.our-coaches-section #KNXQc0{margin-top: 40px;}
.join-team{padding: 40px 0 0;}
.weekly-training-fullsec-content h2{margin-top: 0;}
.academy-info h2{ margin: 40px 0; }
.personal-info h2,
.coaching-info h2,
.additional-info h2{ margin-bottom: 25px; }